altgraph==0.17.5
asgiref==3.11.1
certifi==2025.6.15
colorama==0.4.6
defusedxml==0.7.1
Django==5.2.11
django-auditlog==3.4.1
django-axes==8.3.1
django-cors-headers==4.9.0
django-otp==1.7.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
et_xmlfile==2.0.0
feedparser==6.0.12
fonttools==4.58.2
fpdf2==2.8.3
geographiclib==2.1
geopandas==1.1.0
geopy==2.4.1
numpy==2.3.0
openpyxl==3.1.5
packaging==25.0
pandas==2.3.0
pefile==2024.8.26
pillow==11.2.1
pyinstaller==6.19.0
pyinstaller-hooks-contrib==2026.0
PyJWT==2.11.0
pyogrio==0.11.0
pyotp==2.9.0
pyproj==3.7.1
python-dateutil==2.9.0.post0
python-decouple==3.8
pytz==2025.2
pywin32-ctypes==0.2.3
qrcode==8.2
sgmllib3k==1.0.0
shapely==2.1.1
six==1.17.0
sqlparse==0.5.5
tzdata==2025.2
psycopg2-binary==2.9.10
celery==5.4.0
redis==5.2.1
django-celery-results==2.5.1
