@import "tailwindcss";

/* Custom adjustments */
/* Fix Leaflet + Tailwind conflict */
.leaflet-container img {
    max-width: none !important;
}

/* Hide controls during print/capture if needed, though html2canvas might need ignoreElements */
@media print {
    .leaflet-control-container {
        display: none;
    }
}